.logo{
  padding: 40px 0;
}
 nav {
   border-bottom: 1px solid black;
   border-top: 1px solid black;
 }
 ul li a {
   font-size: 26px;
   padding: 5px 20px;
   font-family:  'Josefin Slab', serif;
   font-weight:400;
 }
 a {
   text-decoration: none;
   color: inherit;
 }
