.title {
  border-bottom: 1px solid black;
  margin: 0 auto;

}
.title span {
  position: relative;
  bottom: -52%;
  font-size:70px;
  font-weight: 100;
  font-family:  'Josefin Slab', serif;
  background-color: white;
  text-transform: uppercase;
  padding: 0 80px;
  margin-bottom: 80px;


}
