
  <div class="row">
      <div class="col-12">
        <img @zoomInDown src="../../../assets/images/home.jpg" alt="home">
      </div>
  </div>

  <div class="row">
      <div class="col-11 offset-1 text-center title" @slideInDown>
          <span>Home</span>
      </div>
  </div>

<div class="row">
  <div class="col-11 offset-1  home-text">
      <p @fadeIn>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus odio urna, lacinia at egestas in,
        elementum aliquam velit. Donec hendrerit id nisi vel faucibus. Sed pretium mauris in nibh aliquet,
        nec suscipit dolor suscipit. Cras porta tincidunt ornare. Integer lacinia tortor sem,
        a aliquet nisl tristique quis. Suspendisse sollicitudin, massa at ultrices consequat,
        libero elit aliquam est, venenatis mattis neque elit facilisis turpis. Maecenas convallis varius est,
        ac hendrerit tellus imperdiet in. Vivamus sodales interdum arcu. Etiam ornare et nibh a volutpat.
        Aenean luctus est sed nisi mattis ultricies. Aliquam id dictum mi, aliquam tempus nibh. Curabitur
        in purus non tellus fringilla tempor a vel leo. Sed sed quam eget lorem lacinia imperdiet at at nisl.
        Nulla quis velit eros. Nunc eu diam fringilla nulla fermentum lobortis.
        <br>
        Duis laoreet orci quis nibh varius maximus. Morbi molestie ex eget auctor accumsan.
        Pellentesque sed ultrices nibh, et lobortis purus. Sed venenatis ornare arcu, sed porttitor mi
        sollicitudin et. Maecenas aliquam ex venenatis dui molestie tempor. Suspendisse dapibus id ex sed
        maximus. Duis lectus metus, commodo vitae pellentesque et, convallis nec quam. Vestibulum urna tellus,
        convallis eget tortor et, rutrum vulputate ante. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        Nulla facilisi. Cras pretium euismod nunc, eget suscipit lectus aliquam vel. Nunc libero ante, scelerisque vitae urna
        sed, facilisis faucibus metus. Mauris non massa feugiat, aliquet justo quis, luctus nulla. Praesent eget rutrum
        nunc, et pharetra turpis.
      </p>
  </div>
</div>
